<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
		 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <?include Details.wxi ?>

  <Product Id="$(var.ProductId)"
           Name="$(var.ProductName)"
           Language="1033"
           Version="$(var.ProductVersion)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="$(var.UpgradeCode)">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Media Id="1" Cabinet="twaindirect.app.cab" EmbedCab="yes" />
    <Icon Id="twain.ico" SourceFile="$(var.ProductIcon)" />
    
    <Property Id="ARPPRODUCTICON" Value="twain.ico" />
    <Property Id="ARPHELPLINK" Value="$(var.SupportUrl)" />
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Feature Id="ProductFeature" Title="TwainDirectProxy.Installer" Level="1">
      <ComponentRef Id="applicationShortcut"/>      
      
      <ComponentRef Id="TwainDirect.Scanner.exe"/>
      <ComponentRef Id="TwainDirect.Scanner.exe.config"/>

      <ComponentRef Id="TwainDirect.OnTwain.exe"/>
      <ComponentRef Id="TwainDirect.OnTwain.exe.config"/>
      
      <ComponentRef Id="TwainDirect.Support.dll"/>
      <ComponentRef Id="pdfras_reader_managed.dll"/>

			<ComponentRef Id="https.certificates"/>
    </Feature>

    <!-- UI -->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ProductBannerBitmap)" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProductDialogBitmap)" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProductLicense)" />
    <UIRef Id="WixUI_InstallDir" />

	  <util:CloseApplication Id="CloseRunningApp" Target="$(var.TwainDirect.Scanner.TargetFileName)"
	                         CloseMessage="yes" RebootPrompt="no" Sequence="1" Timeout="10" />

		<CustomAction Id="LaunchApp" Directory="INSTALLFOLDER" Return="asyncNoWait" Execute="commit"  ExeCommand="[INSTALLFOLDER]$(var.TwainDirect.Scanner.TargetFileName)" />

		<InstallExecuteSequence>
			<Custom Action="WixCloseApplications" Before="InstallValidate" />

			<!-- Install sequence -->
			<Custom Action="SetCmdAddHttpsReservationVista1" Before="AddHttpsReservationQuietExec1">(NOT Installed AND NOT PATCH) AND VersionNT>=600 </Custom>
			<Custom Action="SetCmdAddHttpsReservationVista2" Before="AddHttpsReservationQuietExec2">(NOT Installed AND NOT PATCH) AND VersionNT>=600 </Custom>
			<Custom Action="SetCmdAddHttpsReservationVista3" Before="AddHttpsReservationQuietExec3">(NOT Installed AND NOT PATCH) AND VersionNT>=600 </Custom>			
			<Custom Action="SetCmdBindHttpsPortWinVista" Before="BindHttpsPortQuietExec">(NOT Installed AND NOT PATCH) AND VersionNT>=600 </Custom>

			<Custom Action="AddHttpsReservationQuietExec1" Before="AddHttpsReservationQuietExec2">(NOT Installed AND NOT PATCH)</Custom>
			<Custom Action="AddHttpsReservationQuietExec2" Before="AddHttpsReservationQuietExec3">(NOT Installed AND NOT PATCH)</Custom>
			<Custom Action="AddHttpsReservationQuietExec3" Before="BindHttpsPortQuietExec">(NOT Installed AND NOT PATCH)</Custom>
			<Custom Action="BindHttpsPortQuietExec" Before="InstallFinalize">(NOT Installed AND NOT PATCH)</Custom>

			<!-- Uninstall sequence -->
			<Custom Action="SetCmdUnBindHttpsPortWinVista" Before="ReleaseHttpsPortQuietExec">REMOVE~="ALL" AND VersionNT>=600 </Custom>
			<Custom Action="SetCmdRemoveHttpsReservationVista1" Before="RemoveHttpsReservationQuietExec1">REMOVE~="ALL" AND VersionNT>=600 </Custom>
			<Custom Action="SetCmdRemoveHttpsReservationVista2" Before="RemoveHttpsReservationQuietExec2">REMOVE~="ALL" AND VersionNT>=600 </Custom>
			<Custom Action="SetCmdRemoveHttpsReservationVista3" Before="RemoveHttpsReservationQuietExec3">REMOVE~="ALL" AND VersionNT>=600 </Custom>

			<Custom Action="ReleaseHttpsPortQuietExec" Before="RemoveHttpsReservationQuietExec1">REMOVE~="ALL"</Custom>
			<Custom Action="RemoveHttpsReservationQuietExec1" Before="RemoveHttpsReservationQuietExec2">REMOVE~="ALL"</Custom>
			<Custom Action="RemoveHttpsReservationQuietExec2" Before="RemoveHttpsReservationQuietExec3">REMOVE~="ALL"</Custom>
			<Custom Action="RemoveHttpsReservationQuietExec3" Before="InstallFinalize">REMOVE~="ALL"</Custom>

			<Custom Action="LaunchApp" After="BindHttpsPortQuietExec">(NOT REMOVE) AND (NOT INSTALLASSERVICE)</Custom>
		</InstallExecuteSequence>

	</Product>
  
</Wix>