<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LocalizedPerfCounter" value="false" />
    <add key="CloudApiRoot" value="https://api-twain.hazybits.com/dev"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
</configuration>
