<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include Details.wxi ?>
  
  <Fragment>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)">
          <Component Id="applicationShortcut" Guid="{D5E2BA02-109A-4608-9108-9A76B01A6528}">
            <Shortcut Id="ApplicationStartMenuShortcut"
                      Name="$(var.ProductName)"
                      Description="$(var.ProductName)"
                      Target="[!TwainDirect.App.exe]"
                      WorkingDirectory="INSTALLFOLDER"
                      Icon ="twain.ico" />
            <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.ProductName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>

      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLFOLDER" Name="TWAIN Direct Application">

          <Component Id="TwainDirect.App.exe" Guid="{71DE5FF6-CF53-4D1E-B878-BBAE69545001}">
            <File Id="TwainDirect.App.exe" Source="$(var.TwainDirect.App.TargetDir)\TwainDirect.App.exe" KeyPath="yes" />
          </Component>

          <Component Id="TwainDirect.App.exe.config" Guid="{AA05297A-5DAB-45BA-AF80-FB07D855C6A8}">
            <File Id="TwainDirect.App.exe.config" Source="$(var.TwainDirect.App.TargetDir)\TwainDirect.App.exe.config" KeyPath="yes" />
          </Component>

          <Component Id="TwainDirect.App.appdata.installed.txt" Guid="{85587DE4-B9A3-4300-97F5-30E2FB094FEC}">
            <File Id="TwainDirect.App.appdata.installed.txt" Source="$(var.TwainDirect.App.TargetDir)\data\TwainDirect.App.appdata.installed.txt" KeyPath="yes" />
          </Component>

          <Component Id="TwainDirect.Support.dll" Guid="{3374B2B1-DDF2-4E8C-99FF-2B6C21667077}">
            <File Id="TwainDirect.Support.dll" Source="$(var.TwainDirect.App.TargetDir)\TwainDirect.Support.dll" KeyPath="yes" />
          </Component>

          <Component Id="pdfras_reader_managed.dll" Guid="{538B1168-62AC-42B1-9EE3-19EE64BF335E}">
            <File Id="pdfras_reader_managed.dll" Source="$(var.TwainDirect.App.TargetDir)\pdfras_reader_managed.dll" KeyPath="yes" />
          </Component>

          <Component Id="pdfras_writer_managed.dll" Guid="{E328D096-8FD2-4B1E-BDA5-A5887160E6E6}">
            <File Id="pdfras_writer_managed.dll" Source="$(var.TwainDirect.App.TargetDir)\pdfras_writer_managed.dll" KeyPath="yes" />
          </Component>

          <Component Id="pdfras_digitalsignature.dll" Guid="{87CE3E81-16E6-4A00-B964-F3541961D2B6}">
            <File Id="pdfras_digitalsignature.dll" Source="$(var.TwainDirect.App.TargetDir)\pdfras_digitalsignature.dll" KeyPath="yes" />
          </Component>

          <Component Id="pdfras_encryption.dll" Guid="{9704E024-D8E0-4551-9BC9-659A7AA3CCE8}">
            <File Id="pdfras_encryption.dll" Source="$(var.TwainDirect.App.TargetDir)\pdfras_encryption.dll" KeyPath="yes" />
          </Component>

          <?if $(var.Platform) = x64 ?>
          <Component Id="libcrypto_1_1.dll" Guid="{E5812602-2F5C-48C4-BEA1-CC06541D0437}">
            <File Id="libcrypto_1_1_x64.dll" Source="$(var.TwainDirect.App.TargetDir)\libcrypto-1_1-x64.dll" KeyPath="yes" />
          </Component>
          <?else ?>
          <Component Id="libcrypto_1_1.dll" Guid="{BE163ED9-F2B9-4117-BFEF-B669EEDBBD70}">
            <File Id="libcrypto_1_1.dll" Source="$(var.TwainDirect.App.TargetDir)\libcrypto-1_1.dll" KeyPath="yes" />
          </Component>
          <?endif ?>

          <?if $(var.Platform) = x64 ?>
          <Component Id="libssl_1_1.dll" Guid="{4DBFDEBF-4D17-46A5-B0A4-2C13924F627D}">
            <File Id="libssl_1_1_x64.dll" Source="$(var.TwainDirect.App.TargetDir)\libssl-1_1-x64.dll" KeyPath="yes" />
          </Component>
          <?else ?>
          <Component Id="libssl_1_1.dll" Guid="{3CDCB530-F71F-4140-BC00-3D1B0A312D63}">
            <File Id="libssl_1_1.dll" Source="$(var.TwainDirect.App.TargetDir)\libssl-1_1.dll" KeyPath="yes" />
          </Component>
          <?endif ?>

          <?if $(var.Platform) = x64 ?>
          <Component Id="vcruntime140.dll" Guid="{C1AEA2BD-E303-46EA-AD84-188743206436}">
            <File Id="vcruntime140.dll.x64" Source="$(var.LibFolder)\Runtime\x64\vcruntime140.dll" KeyPath="yes" />
          </Component>
          <?else ?>
          <Component Id="vcruntime140.dll" Guid="{B6833713-8724-4265-B0CE-070FCA310429}">
            <File Id="vcruntime140.dll.x86" Source="$(var.LibFolder)\Runtime\x86\vcruntime140.dll" KeyPath="yes" />
          </Component>
          <?endif ?>

        </Directory>
      </Directory>
    </Directory>
    
	</Fragment>
</Wix>